<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>

<nav th:fragment="navbar(loggedUser)" class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand mr-1" th:href="@{/}">Battleships</a><small>v1.1</small>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/}">Home</a>
            <a class="nav-item nav-link" th:href="@{/scoreboard}">Scoreboard</a>

            <a th:if="${loggedUser == 'anonymousUser'}" class="nav-item nav-link" th:href="@{/login}">Login</a>

            <a th:unless="${loggedUser == 'anonymousUser'}" class="nav-item nav-link" th:text="'Logout as ' + ${loggedUser}" th:href="@{/logout}"></a>

        </div>
    </div>
</nav>

</body>
</html>