<!DOCTYPE html>
<html lang="en">
<body>
<div th:insert="~{/fragments/head :: head}"></div>

<div>
    <div th:each="row : ${#numbers.sequence(0, fieldSize - 1)}" class="row justify-content-center align-items-center">
        <div th:each="col : ${#numbers.sequence(0, fieldSize - 1)}" >
            <button class="cell btn btn-outline-danger" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col].contains('x') && playerField[row][col].contains('O')}"><img th:src="@{/drawable/ship_explosion.gif}" alt="explosion" class="cell"/></button>
            <button class="cell btn btn-outline-dark" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col].contains('x') && !playerField[row][col].contains('O')}" th:text="x"></button>
            <button class="cell btn btn-outline-dark" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col].contains('null') && playerField[row][col].contains('O')}"><img th:src="@{/drawable/explosion.gif}" alt="explosion" class="cell"/></button>
            <button class="cell btn btn-outline-dark" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col].contains('null') && !playerField[row][col].contains('O')}"></button>
        </div>
    </div>
    <h3 th:if="${turn.equals('true')}" class="mt-4">It's your turn</h3>
    <h3 th:if="${turn.equals('false')}" class="mt-4">It's enemy's turn</h3>
</div>


</body>
</html>