<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="~{/fragments/head :: head}"></div>


<h3 class="mb-1">SCORE</h3>
<h4 class="mb-4" id="scoreCounter" th:text="${myScore}"></h4>

<div class="d-flex justify-content-between mb-3">
    <h5 id="shootsPlayerCounter" th:text="${myShoots}"></h5>
    <h5>SHOOTS</h5>
    <h5 id="shootsEnemyCounter" th:text="${enemyShoots}"></h5>
</div>

<div class="d-flex justify-content-between mb-3">
    <h5 id="hitsPlayerCounter" th:text="${myHits}"></h5>
    <h5>HITS</h5>
    <h5 id="hitsEnemyCounter" th:text="${enemyHits}"></h5>
</div>

<div class="d-flex justify-content-between mb-3">
    <h5 id="missesPlayerCounter" th:text="${myMisses}"></h5>
    <h5>MISSES</h5>
    <h5 id="missesEnemyCounter" th:text="${enemyMisses}"></h5>
</div>

<div class="d-flex justify-content-between mb-3">
    <h5 id="ratioEnemyCounter" th:text="${enemyLeft}"></h5>
    <h5>% LEFT %</h5>
    <h5 id="ratioPlayerCounter" th:text="${myLeft}"></h5>
</div>


</body>
</html>