<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>

<h2 th:text="'Game Over. The winner is: ' + ${winner}"></h2>
<h2 th:text="'Score: ' + ${score}"></h2>
<h3 class="mt-4">Play again?</h3>
<div class="btn-group">
    <a th:href="@{/}"><button type="button" class="btn btn-primary mr-2">New Game</button></a>
    <a th:href="@{/scoreboard}"><button type="button" class="btn btn-primary">Scoreboards</button></a>
</div>

<h2 class="mt-4">Scoreboard for this game</h2>
<div th:if="${!games.isEmpty()}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Field Size</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <td th:text="${game.getUsername()}" />
            <td th:text="${game.getScore()}" />
            <td th:text="${game.getDifficulty()}" />
            <td th:text="${game.getFieldSize()}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>