<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>


<div class="container">
    <div class="row">

        <div class="col-md-4 mx-auto mt-5">

            <form method="post" th:action="@{/login}">
                <div class="text-center">

                    <div th:if="${param.success}" class="alert alert-success" role="alert">
                        Account created successfully. Please log in now.
                    </div>

                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid username or password.
                    </div>

                    <div th:if="${param.logout}" class="alert alert-danger" role="alert">
                        You have been logged out.
                    </div>

                    <h2 class="mb-4">Login</h2>
                    <div class="mb-3">
                        <label for="signInFormEmailInput" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="signInFormEmailInput">
                    </div>

                    <div class="mb-3">
                        <label for="signInFormPasswordInput" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="signInFormPasswordInput">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                    <p class="mt-3">Not registered? <a th:href="@{/sign-up}">Sign up</a></p>

                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>