<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>

<div class="modal fade" id="howToPlayModalMultiplayer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="howToPlayModalTitleMultiplayer">Welcome to Multiplayer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your friend has joined, and the battleground awaits! Remember, keeping your cool is key - no smashing computers if things don't go your way.</p>
                <p>Above all, let's ensure we have a blast!</p>
                <p>Good luck!</p>
                <p></p>
                <p>Quick tip: This icon indicates a miss <img th:src="@{/drawable/explosion.gif}" alt="miss" style="height: 20px"/> , while this one signifies a successful hit <img th:src="@{/drawable/ship_explosion.gif}" alt="hit" style="height: 20px"/> !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 text-center border-right mt-5">
            <!-- Left column content -->

            <h2>You</h2>

            <div id="playerField">

            </div>

        </div>

        <div class="col-md-2 text-center mt-3" id="scoreTable">
            <!-- Right column content -->


        </div>
        <div class="col-md-5 text-center border-left mt-5">
            <!-- Right column content -->

            <h2>Enemy</h2>

            <div th:each="row : ${#numbers.sequence(0, fieldSize - 1)}" class="row justify-content-center align-items-center">
                <div th:each="col : ${#numbers.sequence(0, fieldSize - 1)}" >
                    <button onclick="shootMultiplayer(this.id)" class="cell btn btn-outline-dark" th:id="'fieldEnemy_' + ${row} + '_' + ${col}" th:if="${enemyField[row][col] != null && enemyField[row][col].contains('x')}"><img th:src="@{/drawable/blank.jpg}" alt=" " hidden="hidden"/></button>
                    <button onclick="shootMultiplayer(this.id)" class="cell btn btn-outline-dark" th:id="'fieldEnemy_' + ${row} + '_' + ${col}" th:unless="${enemyField[row][col] != null && enemyField[row][col].contains('x')}"><img th:src="@{/drawable/blank.jpg}" alt=" " hidden="hidden"/></button>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:src="@{/js/multiplayer.js}"></script>
</body>
</html>