<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:insert="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 text-center border-right mt-5">
            <!-- Left column content -->

            <h2>You</h2>

            <div th:each="row : ${#numbers.sequence(0, fieldSize - 1)}" class="row justify-content-center align-items-center">
                <div th:each="col : ${#numbers.sequence(0, fieldSize - 1)}" >
                    <button class="cell btn btn-outline-dark not-allowed" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col] != null && playerField[row][col].contains('x')}" th:text="x"></button>
                    <button class="cell btn btn-outline-dark not-allowed" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:unless="${playerField[row][col] != null && playerField[row][col].indexOf('x') != -1}"></button>
                </div>
            </div>

        </div>

        <div class="col-md-2 text-center mt-3">
            <!-- Right column content -->

            <h3 class="mb-1">SCORE</h3>
            <h4 class="mb-4" id="scoreCounter">0</h4>

            <div class="d-flex justify-content-between mb-3">
                <h5 id="shootsPlayerCounter">0</h5>
                <h5>SHOOTS</h5>
                <h5 id="shootsEnemyCounter">0</h5>
            </div>


            <div class="d-flex justify-content-between mb-3">
                <h5 id="hitsPlayerCounter">0</h5>
                <h5>HITS</h5>
                <h5 id="hitsEnemyCounter">0</h5>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <h5 id="missesPlayerCounter">0</h5>
                <h5>MISSES</h5>
                <h5 id="missesEnemyCounter">0</h5>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <h5 id="ratioEnemyCounter">100</h5>
                <h5>% LEFT %</h5>
                <h5 id="ratioPlayerCounter">100</h5>
            </div>



        </div>
        <div class="col-md-5 text-center border-left mt-5">
            <!-- Right column content -->

            <h2>Enemy</h2>

            <h1 class="mt-4">Waiting for other player...</h1>
            <h3>Code: <span th:text="${gameId}"></span></h3>
            <img th:src="@{/drawable/loading.gif}" alt="loading" class="mt-3">

        </div>
    </div>
</div>

<script th:src="@{/js/waitForOpponent.js}"></script>
</body>
</html>