<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>

<div class="modal fade" id="iconInstructionsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="iconInstructionsModalTitle">Welcome to Battleships</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your AI enemy is ready, and the battleground awaits! Remember, keeping your cool is key - no smashing computers if things don't go your way.</p>
                <p>Above all, let's ensure we have a blast!</p>
                <p>Good luck!</p>
                <p></p>
                <p>Quick tip: This icon indicates a miss <img th:src="@{/drawable/explosion.gif}" alt="miss" style="height: 20px"/> , while this one signifies a successful hit <img th:src="@{/drawable/ship_explosion.gif}" alt="hit" style="height: 20px"/> !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 text-center border-right mt-5">
            <!-- Left column content -->

            <h2>You</h2>

            <div th:each="row : ${#numbers.sequence(0, fieldSize - 1)}" class="row justify-content-center align-items-center">
                <div th:each="col : ${#numbers.sequence(0, fieldSize - 1)}" >
                    <button class="cell btn btn-outline-dark" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col] != null && playerField[row][col].contains('x')}" th:text="x"></button>
                    <button class="cell btn btn-outline-dark" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:unless="${playerField[row][col] != null && playerField[row][col].indexOf('x') != -1}"><img th:src="@{/drawable/blank.jpg}" alt=" " hidden="hidden"/></button>
                </div>
            </div>

        </div>

        <div class="col-md-2 text-center mt-3">
            <!-- Right column content -->

            <h3 class="mb-1">SCORE</h3>
            <h4 class="mb-4" id="scoreCounter">0</h4>

            <div class="d-flex justify-content-between mb-3">
                <h5 id="shootsPlayerCounter">0</h5>
                <h5>SHOOTS</h5>
                <h5 id="shootsEnemyCounter">0</h5>
            </div>


            <div class="d-flex justify-content-between mb-3">
                <h5 id="hitsPlayerCounter">0</h5>
                <h5>HITS</h5>
                <h5 id="hitsEnemyCounter">0</h5>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <h5 id="missesPlayerCounter">0</h5>
                <h5>MISSES</h5>
                <h5 id="missesEnemyCounter">0</h5>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <h5 id="ratioEnemyCounter">100</h5>
                <h5>% LEFT %</h5>
                <h5 id="ratioPlayerCounter">100</h5>
            </div>

        </div>
            <div class="col-md-5 text-center border-left mt-5">
            <!-- Right column content -->

            <h2>Enemy</h2>

            <div th:each="row : ${#numbers.sequence(0, fieldSize - 1)}" class="row justify-content-center align-items-center">
                <div th:each="col : ${#numbers.sequence(0, fieldSize - 1)}" >
                    <button onclick="shoot(this.id)" class="cell btn btn-outline-dark" th:id="'fieldEnemy_' + ${row} + '_' + ${col}" th:if="${enemyField[row][col] != null && enemyField[row][col].indexOf('x') != -1}"><img th:src="@{/drawable/blank.jpg}" alt=" " hidden="hidden"/></button>
                    <button onclick="shoot(this.id)" class="cell btn btn-outline-dark" th:id="'fieldEnemy_' + ${row} + '_' + ${col}" th:unless="${enemyField[row][col] != null && enemyField[row][col].indexOf('x') != -1}"><img th:src="@{/drawable/blank.jpg}" alt=" " hidden="hidden"/></button>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>