<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>


<h2>Scoreboard</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Score</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Field Size</th>
        <th scope="col">Game ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game: ${games}">
        <td th:text="${game.getUsername()}" />
        <td th:text="${game.getScore()}" />
        <td th:text="${game.getDifficulty()}" />
        <td th:text="${game.getFieldSize()}" />
        <td th:text="${game.getGameId()}" />

    </tr>
    </tbody>
</table>

</body>
</html>