<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 text-center border-right">
            <!-- Right column content -->

            <h1 class="my-3">Settings</h1>

            <div class="my-2">
                <h3>Difficulty</h3>
                <div class="btn-group" role="group">
                    <form method="post" th:action="@{/settings/difficulty}">
                        <button type="submit" class="btn btn-secondary mx-1" name="difficulty" value="easy">Easy</button>
                        <button type="submit" class="btn btn-secondary mx-1" name="difficulty" value="normal">Normal</button>
                        <button type="submit" class="btn btn-secondary mx-1" name="difficulty" value="hard">Hard</button>
                        <button type="submit" class="btn btn-secondary mx-1" name="difficulty" value="hacker">Hacker</button>
                    </form>
                </div>
            </div>

            <div class="my-2">
                <h3>Field size</h3>
                <div class="btn-group" role="group">
                    <form method="post" th:action="@{/settings/setFieldSize}">
                        <button type="submit" class="btn btn-secondary mx-1" name="field-size" value="12">12x12</button>
                        <button type="submit" class="btn btn-secondary mx-1" name="field-size" value="13">13x13</button>
                        <button type="submit" class="btn btn-secondary mx-1" name="field-size" value="14">14x14</button>
                        <button type="submit" class="btn btn-secondary mx-1" name="field-size" value="15">15x15</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-6 text-center border-right">
            <!-- Left column content -->

            <h1 class="my-3">Current settings</h1>

            <h4 th:text="'Difficulty: ' + ${difficulty}"></h4>
            <h4 th:text="'Field Size: ' + ${fieldSize} + ' cells'"></h4>

            <a th:href="@{/}"><button type="button" class="btn btn-primary btn-lg mt-5">BACK TO GAME</button></a>



        </div>
    </div>
</div>



</body>
</html>