<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{/fragments/head :: head}"></div>
<div th:insert="~{/fragments/navbar :: navbar(${loggedUser})}"></div>

<div class="modal fade" id="howToPlayModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="howToPlayModalTitle">How To Play</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hover over the cells to see the possible ship placements. You can change the ship size by pressing the number keys. You can change the orientation of the ship by pressing the R key.</p>
                <p>If the ship is placed correctly, it will be green. If the ship is placed incorrectly, it will be red.</p>
                <p>To delete a ship you placed before, simply click on the ship you want to delete if the hover is still green. If not, reset the game using the "Reset" button.</p>
                <p>After you have placed all your ships, click the "Start" button to start the game.</p>
                <p>Good luck!</p>
                <p></p>
                <p>P.S. Click the <img th:src="@{/drawable/settings_icon_50.png}" alt="settings" style="height: 17px"> button to change the game settings.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 text-center border-right mt-4">
            <!-- Right column content -->

            <h2>Place your ships</h2>

            <div th:each="row : ${#numbers.sequence(0, fieldSize - 1)}" class="row justify-content-center align-items-center">
                <div th:each="col : ${#numbers.sequence(0, fieldSize - 1)}" >
                    <button class="cell btn btn-outline-dark player-cell" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:if="${playerField[row][col] != null && playerField[row][col].indexOf('x') != -1}" th:text="x"></button>
                    <button class="cell btn btn-outline-dark player-cell" th:id="'fieldUser_' + ${row} + '_' + ${col}" th:unless="${playerField[row][col] != null && playerField[row][col].indexOf('x') != -1}"></button>
                </div>
            </div>

            <button class="btn btn-primary mt-5" onclick="resetGame()">RESET</button>

        </div>
        <div class="col-md-6 text-center border-right">
            <!-- Left column content -->

            <h1 class="my-5">BattleShip</h1>

            <a th:href="@{/game/play}"><button type="button" class="btn btn-primary btn-lg mb-3">START</button></a>

            <div class="btn-group dropright">
                <a th:href="@{'/multiplayer/game/' + ${gameId}}"><button type="button" class="btn btn-primary btn-lg mb-3">
                    MULTIPLAYER
                </button></a>
                <button type="button" class="btn btn-primary btn-lg mb-3 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only"></span>
                </button>

                <div class="dropdown-menu p-4">
                    <div class="form-group">
                        <label for="multiplayerGameId">Game ID</label>
                        <input type="number" class="form-control" id="multiplayerGameId" th:data-gameid="${gameId}" placeholder="12345">
                    </div>
                    <button type="button" id="playMultiplayerP2Button" class="btn btn-primary">Play</button>
                </div>

            </div>

            <h3 class="my-5">Game info:</h3>
            <h4 th:text="'Field Size: ' + ${fieldSize} + ' cells'"></h4>
            <h4 th:text="'Difficulty: ' + ${difficulty}"></h4>

            <a th:href="@{/settings/}">
                <img th:src="@{/drawable/settings_icon_50.png}" alt="user" class="mt-5">
            </a>
            <img data-toggle="modal" data-target="#howToPlayModal" th:src="@{/drawable/info_icon_50.png}" alt="info" class="mt-5">

            <div th:if="${param.multiplayerGameNotFound}" class="alert alert-warning mt-4" role="alert">
                No multiplayer game found by this ID
            </div>


        </div>
    </div>
</div>

</body>
</html>